.form {
    max-width: 500px;
    margin: 0 auto;
}
.error-empty-number, .error-invalid-number {
    font-size: 14px;
    color: red;
    margin-top: 4px;
    margin-bottom: 10px;
}
.info-valid-number {
    font-size: 14px;
    color: green;
    margin-top: 4px;
    margin-bottom: 10px;
}